In [2]:
import pyspark

In [4]:
data = [
         "Goku Vegeta Gohan",
         "Goku Frieza Goku",
         "Vegeta Goku Frieza Gohan",
         "Gohan Frieza Goku Goku"
        ]

In [9]:
data

['Goku Vegeta Gohan',
 'Goku Frieza Goku',
 'Vegeta Goku Frieza Gohan',
 'Gohan Frieza Goku Goku']

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("WordCount")\
        .master("local[*]")\
        .getOrCreate()

In [8]:
rdd = spark.sparkContext.parallelize(data)
rdd.collect()

['Goku Vegeta Gohan',
 'Goku Frieza Goku',
 'Vegeta Goku Frieza Gohan',
 'Gohan Frieza Goku Goku']

In [17]:
filtered_rdd = rdd.filter(lambda line : "Vegeta" in line)
filtered_rdd.collect()

['Goku Vegeta Gohan', 'Vegeta Goku Frieza Gohan']

In [10]:
words = rdd.flatMap(lambda line: line.split(" "))
words.collect()

['Goku',
 'Vegeta',
 'Gohan',
 'Goku',
 'Frieza',
 'Goku',
 'Vegeta',
 'Goku',
 'Frieza',
 'Gohan',
 'Gohan',
 'Frieza',
 'Goku',
 'Goku']

In [12]:
word_map = words.map(lambda word: (word, 1))
word_map.collect()

[('Goku', 1),
 ('Vegeta', 1),
 ('Gohan', 1),
 ('Goku', 1),
 ('Frieza', 1),
 ('Goku', 1),
 ('Vegeta', 1),
 ('Goku', 1),
 ('Frieza', 1),
 ('Gohan', 1),
 ('Gohan', 1),
 ('Frieza', 1),
 ('Goku', 1),
 ('Goku', 1)]

In [16]:
result = word_map.reduceByKey(lambda x, y: x + y)
result.collect()

[('Goku', 6), ('Vegeta', 2), ('Gohan', 3), ('Frieza', 3)]