### use dataframe

In [19]:
from pyspark.sql import SparkSession
# Initialize Spark Session
spark = SparkSession. builder \
.appName ("High Level API DataFrame") \
.getOrCreate ()

In [18]:
df = spark.read.format('csv')\
.option('header', 'true')\
.option('inferSchema', 'true')\
.load('/content/first_100_customers.csv')

In [21]:
df.head()

Row(customer_id=0, name='Customer_0', city='Pune', state='Maharashtra', country='India', registration_date=datetime.date(2023, 6, 29), is_active=False)

In [22]:
df.show(5)

+-----------+----------+---------+-----------+-------+-----------------+---------+
|customer_id|      name|     city|      state|country|registration_date|is_active|
+-----------+----------+---------+-----------+-------+-----------------+---------+
|          0|Customer_0|     Pune|Maharashtra|  India|       2023-06-29|    false|
|          1|Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2|Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          3|Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
|          4|Customer_4|Ahmedabad|  Karnataka|  India|       2023-03-14|    false|
+-----------+----------+---------+-----------+-------+-----------------+---------+
only showing top 5 rows

In [23]:
df.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- is_active: boolean (nullable = true)

In [25]:
df.createOrReplaceTempView('customers')

In [27]:
results = spark.sql("select * from customers")
results.show(4)

+-----------+----------+---------+-----------+-------+-----------------+---------+
|customer_id|      name|     city|      state|country|registration_date|is_active|
+-----------+----------+---------+-----------+-------+-----------------+---------+
|          0|Customer_0|     Pune|Maharashtra|  India|       2023-06-29|    false|
|          1|Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2|Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          3|Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
+-----------+----------+---------+-----------+-------+-----------------+---------+
only showing top 4 rows

In [31]:
result2=spark.sql("select city , count(*) as number_per_city from customers group by city order by number_per_city DESC")
result2.show()

+---------+---------------+
|     city|number_per_city|
+---------+---------------+
|     Pune|             23|
|  Kolkata|             15|
|  Chennai|             12|
|Ahmedabad|             12|
|Hyderabad|             12|
|   Mumbai|              9|
|    Delhi|              9|
|Bangalore|              7|
+---------+---------------+