# Spark Opeartion in spark

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("sparkOperation") \
.getOrCreate()

In [56]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType , BooleanType

# create data
data = [
    (1, "Achraf", "Rabat",25),
    (2, "Sara", "Casablanca",31),
    (3, "Omar", "Fes",27),
    (4, "Youssef", "Tanger",24),
    (5, "Lina", "Marrakech",22)
]

# define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("city", StringType(), True),
    StructField("age", IntegerType(), True)
])

# create datarame
df = spark.createDataFrame(data, schema)
df.show()

+---+-------+----------+---+
| id|   name|      city|age|
+---+-------+----------+---+
|  1| Achraf|     Rabat| 25|
|  2|   Sara|Casablanca| 31|
|  3|   Omar|       Fes| 27|
|  4|Youssef|    Tanger| 24|
|  5|   Lina| Marrakech| 22|
+---+-------+----------+---+

In [11]:
# show schema
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- age: integer (nullable = true)

In [12]:
df.columns

['id', 'name', 'city', 'age']

In [13]:
# show statistics
df.describe().show()

+-------+------------------+-------+----------+------------------+
|summary|                id|   name|      city|               age|
+-------+------------------+-------+----------+------------------+
|  count|                 5|      5|         5|                 5|
|   mean|               3.0|   NULL|      NULL|              25.8|
| stddev|1.5811388300841898|   NULL|      NULL|3.4205262752974144|
|    min|                 1| Achraf|Casablanca|                22|
|    max|                 5|Youssef|    Tanger|                31|
+-------+------------------+-------+----------+------------------+

### Select and filtering Data Use Cases

In [16]:
df.select('name','city').show(2)

+------+----------+
|  name|      city|
+------+----------+
|Achraf|     Rabat|
|  Sara|Casablanca|
+------+----------+
only showing top 2 rows

In [17]:
df.filter(df['age'] > 25).show()

+---+----+----------+---+
| id|name|      city|age|
+---+----+----------+---+
|  2|Sara|Casablanca| 31|
|  3|Omar|       Fes| 27|
+---+----+----------+---+

In [19]:
df.where(df.name == 'Achraf').show()

+---+------+-----+---+
| id|  name| city|age|
+---+------+-----+---+
|  1|Achraf|Rabat| 25|
+---+------+-----+---+

In [20]:
df.distinct().show()

+---+-------+----------+---+
| id|   name|      city|age|
+---+-------+----------+---+
|  1| Achraf|     Rabat| 25|
|  2|   Sara|Casablanca| 31|
|  3|   Omar|       Fes| 27|
|  5|   Lina| Marrakech| 22|
|  4|Youssef|    Tanger| 24|
+---+-------+----------+---+

### Sorting and OrderBy

In [24]:
# asc or desc
df.orderBy(df.age.asc()).show()

+---+-------+----------+---+
| id|   name|      city|age|
+---+-------+----------+---+
|  5|   Lina| Marrakech| 22|
|  4|Youssef|    Tanger| 24|
|  1| Achraf|     Rabat| 25|
|  3|   Omar|       Fes| 27|
|  2|   Sara|Casablanca| 31|
+---+-------+----------+---+

In [25]:
df.groupBy(df.city).count().show()

+----------+-----+
|      city|count|
+----------+-----+
|Casablanca|    1|
|     Rabat|    1|
|       Fes|    1|
|    Tanger|    1|
| Marrakech|    1|
+----------+-----+

### adding and droping columns

In [49]:
#  is feature engineering not like pandas use dataframe with specific column not just add value to dataframe
df=df.withColumn("new_age",df.age + 2)

In [50]:
df.show()

+---+-------+----------+---+-------+
| id|   name|      city|age|new_age|
+---+-------+----------+---+-------+
|  1| Achraf|     Rabat| 25|     27|
|  2|   Sara|Casablanca| 31|     33|
|  3|   Omar|       Fes| 27|     29|
|  4|Youssef|    Tanger| 24|     26|
|  5|   Lina| Marrakech| 22|     24|
+---+-------+----------+---+-------+

In [51]:
df.drop('age').show()

+---+-------+----------+-------+
| id|   name|      city|new_age|
+---+-------+----------+-------+
|  1| Achraf|     Rabat|     27|
|  2|   Sara|Casablanca|     33|
|  3|   Omar|       Fes|     29|
|  4|Youssef|    Tanger|     26|
|  5|   Lina| Marrakech|     24|
+---+-------+----------+-------+

## aggregating and groupby

In [52]:
df.groupBy('name').count().show()

+-------+-----+
|   name|count|
+-------+-----+
| Achraf|    1|
|   Sara|    1|
|Youssef|    1|
|   Lina|    1|
|   Omar|    1|
+-------+-----+

In [53]:
df.agg({'age':'avg'}).show()

+--------+
|avg(age)|
+--------+
|    25.8|
+--------+

## Joins

In [57]:
df.show()

+---+-------+----------+---+
| id|   name|      city|age|
+---+-------+----------+---+
|  1| Achraf|     Rabat| 25|
|  2|   Sara|Casablanca| 31|
|  3|   Omar|       Fes| 27|
|  4|Youssef|    Tanger| 24|
|  5|   Lina| Marrakech| 22|
+---+-------+----------+---+

In [60]:
data2 = [(1,True),(2,False),(3,True),(4,True),(5,False)]
schema2 = StructType([
    StructField("id", IntegerType(), True),
    StructField("isActive", BooleanType(), True),

])
df_2 = spark.createDataFrame(data2, schema2)
df_2.show()

+---+--------+
| id|isActive|
+---+--------+
|  1|    true|
|  2|   false|
|  3|    true|
|  4|    true|
|  5|   false|
+---+--------+

In [62]:
df = df.join(df_2,'id')

In [63]:
df.show()

+---+-------+----------+---+--------+
| id|   name|      city|age|isActive|
+---+-------+----------+---+--------+
|  1| Achraf|     Rabat| 25|    true|
|  2|   Sara|Casablanca| 31|   false|
|  3|   Omar|       Fes| 27|    true|
|  4|Youssef|    Tanger| 24|    true|
|  5|   Lina| Marrakech| 22|   false|
+---+-------+----------+---+--------+

In [64]:
spark.stop()