# Write Operation in Spark

* consider as action when we write some dataframe , but what we meaning by write is save dataframe after processing and cleaning

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("Write_in_Spark") \
.getOrCreate()

In [2]:
data = [
    (1, "Achraf", "Rabat", "2024-01-10", True),
    (2, "Sara", "Casablanca", "2024-02-12", False),
    (3, "Omar", "Fes", "2024-03-05", True),
    (4, "Youssef", "Tanger", "2024-04-19", True),
    (5, "Lina", "Marrakech", "2024-05-01", False),
    (6, "Hassan", "Agadir", "2024-01-27", True),
    (7, "Nadia", "Tetouan", "2024-03-14", False),
    (8, "Khalid", "Oujda", "2024-02-28", True),
    (9, "Salma", "Kenitra", "2024-04-07", True),
    (10, "Mehdi", "Rabat", "2024-05-09", False),
]
columns = ["customer_id", "name", "city", "order_date", "is_active"]

In [3]:
df=spark.createDataFrame(data,columns)
df.show()

+-----------+-------+----------+----------+---------+
|customer_id|   name|      city|order_date|is_active|
+-----------+-------+----------+----------+---------+
|          1| Achraf|     Rabat|2024-01-10|     true|
|          2|   Sara|Casablanca|2024-02-12|    false|
|          3|   Omar|       Fes|2024-03-05|     true|
|          4|Youssef|    Tanger|2024-04-19|     true|
|          5|   Lina| Marrakech|2024-05-01|    false|
|          6| Hassan|    Agadir|2024-01-27|     true|
|          7|  Nadia|   Tetouan|2024-03-14|    false|
|          8| Khalid|     Oujda|2024-02-28|     true|
|          9|  Salma|   Kenitra|2024-04-07|     true|
|         10|  Mehdi|     Rabat|2024-05-09|    false|
+-----------+-------+----------+----------+---------+

## Write Operation

In [4]:
df.write.format('csv').option('header','true').save("/content/clean.csv")
# can add delimiter option
# df.write.format('csv').option('header','true').optin("delimiter",'true').save("/content/clean.csv")

In [5]:
df.rdd.getNumPartitions()

2

so here we have two partition let's try use `repartition()` function to decresss number of partition into 1

In [17]:
df.repartition(1).write.format('csv').option('header','true').save("/content/clean_data_1.csv")

let's try read data , and see number of partition

In [18]:
# clean.csv ----> 2 partition
df_2_partition=spark.read.format('csv').option('header','true').option('inferschema','true').load('/content/clean.csv')

In [19]:
df_2_partition.rdd.getNumPartitions()

2

In [20]:
# clean_data_1.csv -----> 1 partition
df_1_partition=spark.read.format('csv').option('header','true').option('inferschema','true').load('/content/clean_data_1.csv')
df_1_partition.rdd.getNumPartitions()

1

In [22]:
df_1_partition.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- order_date: date (nullable = true)
 |-- is_active: boolean (nullable = true)